<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cheer.Utilities.GuidGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Cheer.Utilities.GuidGen.Properties.Settings>
            <setting name="MainFormTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormResultTextBoxWordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormFormatComboBoxSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </Cheer.Utilities.GuidGen.Properties.Settings>
    </userSettings>
</configuration>
